@charset "UTF-8";
/*! 变量*/

// 正文文本，主要颜色
$text-color: #666;

// 文本强调颜色，hover效果
$theme-color: #5a6afa;

// 背景颜色
$backgroung-color: #e6e9f0;

// 顶部个人信息部分的高度
$page-top-height: 72px;

// 底部版权信息部分的高度
//$page-bottom-height: 40px;
$page-bottom-height: 0;

// 左侧菜单部分的高度
$page-left-width: 180px;

// 面包屑部分的高度
$breadcrumb-height: 76px;

// 表格元素高度
$form-element-height: 36px;

