@charset "UTF-8";
/*! lixinjie 20180811 https://github.com/xinjie-just/meipo.git */
@import "iconfont";
@import "variables";
@import "reboot";

/*===首页===*/
html {
  height: 100%;
}
body {
  height: 100%;
  position: relative;
  font-family: "Microsoft YaHei", Arial, sans-serif;
  background-color: #e6e9f0;
}
/*头部*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $page-top-height;
  line-height: $page-top-height;
  background-image: linear-gradient(to right, #3778f9, #374af9);
  color: #fff;
  font-size: 16px;
  .logo {
    width: $page-left-width;
    height: $page-top-height;
    line-height: $page-top-height;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
  }
  .personal-info {
    display: -ms-flex;
    display: flex;
    justify-content: flex-end;
    -ms-flex: 1;
    flex: 1;
    padding-right: 20px;
    padding-left: 20px;
    text-align: right;
    .msg {
      font-size: 1.5em;
      margin-right: 1em;
    }
    .personal-account {
      font-size: 1em;
      &:hover {
        .arrows {
          transform: rotate(135deg);
        }
      }
      .arrows {
        display: inline-block;
        margin-left: 1em;
        width: 8px;
        height: 8px;
        border-left: 1px solid #fff;
        border-bottom: 1px solid #fff;
        transform: rotate(-45deg);
        transform-origin: center;
        transition: all .5s ease 0s;
      }
    }
  }
}

.main {
  position: absolute;
  top: $page-top-height;
  right: 0;
  bottom: $page-bottom-height;
  left: 0;
  height: calc(100% - #{$page-top-height} - #{$page-bottom-height});
  .nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: $page-left-width;
    background-color: #fff;
    padding-top: 26px;
    padding-bottom: 26px;
    overflow-y: auto;
  }
  .main-body {
    position: absolute;
    top: 0;
    left: $page-left-width;
    height: 100%;
    width: calc(100% - #{$page-left-width});
  }
  .breadcrumbs {
    position: relative;
    width: 100%;
    height: $breadcrumb-height;
    line-height: $breadcrumb-height;
    padding-left: 20px;
    background-color: #fff;
    li {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      height: $breadcrumb-height;
      line-height: $breadcrumb-height;
      padding-left: 20px;
      font-size: 16px;
      color: $text-color;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-left: 25px;
        &:before {
          content: "";
        }
      }
      &:before {
        content: ">";
        position: absolute;
        top: 0;
        right: -18px;
        transform: scaleY(1.5);
        color: #999;
      }
      a {
        display: block;
        color: #999;
        padding-right: 5px;
        padding-left: 5px;
        &.icon-home {
          font-size: 24px;
          color: #999;
        }
        &:hover {
          color: $text-color;
        }
      }
    }
  }
  .main-content {
    position: absolute;
    top: $breadcrumb-height;
    left: 0;
    width: calc(100% - 40px);
    margin: 20px;
    height: calc(100% - #{$breadcrumb-height} - 40px);
    background-color: #fff;
    border-radius: 5px;
    padding: 30px 50px;
    overflow-y: auto;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: $page-bottom-height;
  line-height: $page-bottom-height;
  text-align: center;
  background-image: linear-gradient(to right, #3778f9, #374af9);
  color: #fff;
  font-size: 14px;
  padding-right: 2em;
  padding-left: 2em;
}