@charset "UTF-8";
/*! lixinjie 20180811 https://github.com/xinjie-just/meipo.git */
@import "iconfont";
@import "variables";
@import "reboot";

/*===整体框架===*/
html {
  height: 100%;
}

body {
  height: 100%;
  position: relative;
  font-family: "Microsoft YaHei", Arial, sans-serif;
  background-color: #e6e9f0;
}

.header {
  @extend %clearfix;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $page-top-height;
  line-height: $page-top-height;
  color: #fff;
  font-size: 16px;
  background: linear-gradient(90deg,rgba(55,120,250,1) 0%,rgba(55,74,250,1) 100%);
  box-shadow: 0 2px 4px 0 rgba(46,95,230,0.2);
  .logo {
    float: left;
    width: $page-left-width;
    height: $page-top-height;
    line-height: $page-top-height;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
  }
  .personal-info {
    float: right;
    width: calc(100% - #{$page-left-width});
    padding-right: 20px;
    padding-left: 20px;
    text-align: right;
    .msg {
      display: inline-block;
      vertical-align: middle;
      color: inherit;
      font-size: 1.3em;
      margin-right: .6em;
      padding-right: .6em;
      padding-left: .6em;
      &:hover {
        background-color: darken($theme-color, 5%);
      }
    }
    .personal-account {
      display: inline-block;
      vertical-align: middle;
      font-size: 1em;
      padding-right: .6em;
      padding-left: .6em;
      &:hover {
        background-color: darken($theme-color, 5%);
        .arrows {
          transform: rotate(135deg);
        }
      }
      .arrows {
        display: inline-block;
        margin-left: 1em;
        width: 8px;
        height: 8px;
        border-left: 1px solid #fff;
        border-bottom: 1px solid #fff;
        transform: rotate(-45deg);
        transform-origin: center;
        transition: all .5s ease 0s;
      }
    }
  }
}

.main {
  position: absolute;
  top: $page-top-height;
  right: 0;
  bottom: $page-bottom-height;
  left: 0;
  height: calc(100% - #{$page-top-height} - #{$page-bottom-height});
  .nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: $page-left-width;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    padding-top: 26px;
    padding-bottom: 26px;
    overflow-y: auto;
  }
  .main-content {
    position: absolute;
    top: 0;
    left: $page-left-width;
    height: 100%;
    width: calc(100% - #{$page-left-width});
    .main-header {
      @extend %clearfix;
      width: 100%;
      padding-right: 20px;
      padding-left: 20px;
      height: $breadcrumb-height;
      line-height: $breadcrumb-height;
      background-color: #fff;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .05);
      .breadcrumbs {
        float: left;
      }
      .handle-condition {
        float: right;
      }
    }
  }
}

.nav-list {
  $first-class-height: 50px;
  $padding-left: 60px;
  width: 100%;
  border-top: rgba(235, 238, 245, 1);
  border-bottom: rgba(235, 238, 245, 1);
  > li {
    font-size: 14px;
    &.cashier {
      > a {
        background-image: url("../images/cashier.png");
      }
    }
    &.member {
      > a {
        background-image: url("../images/member.png");
      }
    }
    &.operate {
      > a {
        background-image: url("../images/operate.png");
      }
    }
    &.union {
      > a {
        background-image: url("../images/union.png");
      }
    }
    &.statistics {
      > a {
        background-image: url("../images/statistics.png");
      }
    }
    &.setup {
      > a {
        background-image: url("../images/setup.png");
      }
    }
    &:not(:last-of-type) {
      > a {
        border-bottom: 1px solid rgba(235, 238, 245, 1);
      }
    }
    > a {
      position: relative;
      display: block;
      width: 100%;
      height: $first-class-height;
      line-height: $first-class-height;
      padding-left: $padding-left;
      background-position: left 23px center;
      background-size: 24px 24px;
      background-repeat: no-repeat;
      color: #475066;
      font-size: inherit;
      &::after {
        content: "";
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
        width: 8px;
        height: 8px;
        border-left: 1px solid #a3b1cc;
        border-bottom: 1px solid #a3b1cc;
        transform-origin: left center;
        transition: all .5s ease 0s;
      }
    }
    ul {
      display: none;
    }
    &:hover {
      background-color: rgba(242,246,252,1);
    }
    &.active {
      background-color: rgba(242,246,252,1);
      > a {
        &::after {
          right: 9px;
          transform: translateY(-50%) rotate(135deg);
        }
      }
      ul {
        $second-class-height: 36px;
        display: block;
        padding-top: 11px;
        padding-bottom: 11px;
        border-top: 1px solid rgba(235,238,245,1);
        background-color: rgba(242,246,252,1);
        > li {
          height: $second-class-height;
          line-height: $second-class-height;
          a {
            display: block;
            width: 100%;
            height: 100%;
            font-size: inherit;
            position: relative;
            color: inherit;
            padding-left: calc(#{$padding-left} + 1.2em);
            &::before {
              position: absolute;
              top: 50%;
              left: $padding-left;
              transform: translateY(-50%);
              content: "";
              width: .6em;
              height: 1px;
              color: inherit;
              background-color: currentColor;
            }
          }
          &:hover {
            a {
              color: $theme-color;
            }
          }
          &.active {
            a {
              color: $theme-color;
            }
          }
        }
      }
    }
  }
}

.breadcrumbs {
  position: relative;
  li {
    position: relative;
    display: inline-block;
    height: $breadcrumb-height;
    line-height: $breadcrumb-height;
    padding-left: 20px;
    font-size: 14px;
    color: $text-color;
    &:first-child {
      padding-left: 0;
    }
    &:first-child:last-child {
      color: #606266;
      padding-right: 5px;
      padding-left: 5px;
      font-size: 18px;
      font-weight: 600;
    }
    &:last-child {
      padding-left: 25px;
      &:before {
        content: "";
      }
    }
    &:before {
      content: ">";
      position: absolute;
      top: 0;
      right: -18px;
      transform: scaleY(1.5);
      color: #96999e;
    }
    a {
      display: block;
      color: #606266;
      padding-right: 5px;
      padding-left: 5px;
      font-size: 18px;
      font-weight: 600;
      &.icon-home {
        font-size: 24px;
        color: #999;
      }
      &:hover {
        color: $theme-color;
      }
    }
  }
}

.main-body {
  position: absolute;
  top: $breadcrumb-height;
  left: 0;
  width: calc(100% - 40px);
  margin: 20px;
  height: calc(100% - #{$breadcrumb-height} - 40px);
  background-color: #fff;
  border-radius: 5px;
  padding: 30px 50px;
  overflow-y: auto;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: $page-bottom-height;
  line-height: $page-bottom-height;
  text-align: center;
  background-image: linear-gradient(to right, #3778f9, #374af9);
  color: #fff;
  font-size: 14px;
  padding-right: 2em;
  padding-left: 2em;
}

table:not(.table-condensed) {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  th,
  td {
    text-align: center;
  }
  thead {
    tr {
      background-color: #ebeef5;
      th {
        font-size: 14px;
        font-weight: 400;
        background-color: #e8e8e8;
        padding: 5px 10px;
        height: 48px;
        line-height: 38px;
      }
    }
  }
  tbody {
    tr {
      td {
        font-size: 14px;
        font-weight: 400;
        color: inherit;
        padding: 20px 10px;
        height: 70px;
        line-height: 29px;
        border-bottom: 1px solid #ebeef5;
        &:not(:last-of-type):not(:first-of-type){
          border-right: 1px solid #ebeef5;
        }
        &.handle {
          color: #496eae;
          text-align: center;
          font-size: 0;
          button {
            font-size: 14px;
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            color: inherit;
            &:first-of-type:last-of-type {
              width: 100%;
            }
            &:first-of-type:nth-last-of-type(2) {
              width: calc(50% - 3px);
              & ~ button {
                width: calc(50% - 3px);
                margin-left: 6px;
              }
            }
            &:first-of-type:nth-last-of-type(3) {
              width: calc(33.33333333% - 4px);
              & ~ button {
                width: calc(33.33333333% - 4px);
                margin-left: 6px;
              }
            }
            &:hover {
              color: lighten(#496eae, 20%);
            }
          }
        }
      }
    }
  }
}

/*分页*/
.pagination-wrapper {
  text-align: center;
  margin-top: 30px;
  .count {
    font-size: 12px;
    font-weight: normal;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
  }
}
.pagination {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  > li {
    > a,
    > span {
      color: $text-color;
      border-color: #d4d4d4;
      background-color: #fff;
      &:focus,
      &:hover {
        color: #fff;
        border-color: $theme-color;
        background-color: $theme-color;
      }
    }
  }
  > .active {
    > a,
    > a:focus,
    > a:hover,
    > span,
    > span:focus,
    > span:hover {
      color: #fff;
      border-color: $theme-color;
      background-color: $theme-color;
    }
  }
}

/*主要内容*/
/*个人账户*/
.account-main-body {
  padding: 40px;
}
.personal-account-form {
  $label-width: 6em;
  font-size: 14px;
  .form-item {
    @extend %clearfix;
    height: $form-element-height;
    line-height: $form-element-height;
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
    label {
      display: block;
      float: left;
      margin-right: 10px;
      width: $label-width;
      height: inherit;
      line-height: inherit;
      font-size: inherit;
      text-align: right;
      color: $text-color;
    }
    strong {
      display: block;
      float: left;
      margin-right: .5em;
      font-size: 1.43em;
      color: #333;
      font-weight: 600;
    }
    span {
      display: block;
      float: left;
      color: $text-color;
    }
    .recharge {
      padding-right: 14px;
      padding-left: 14px;
      margin-left: 6px;
      height: inherit;
      line-height: inherit;
      color: $theme-color;
      &:hover {
        color: darken($theme-color, 5%);
      }
    }
    &.withdraw-deposits {
      height: auto;
    }
    .form-content {
      float: left;
      margin-right: .7em;
      .form-input {
        position: relative;
        &:focus {
          border: 1px solid $theme-color;
        }
        input {
          width: calc(100% - 76px);
        }
        .withdraw-deposits-btn {
          position: absolute;
          top: 1px;
          right: 1px;
          width: 76px;
          height: calc(#{$form-element-height} - 2px);
          line-height: calc(#{$form-element-height} - 2px);
          padding-right: 10px;
          padding-left: 10px;
          text-align: center;
          color: $theme-color;
          &:hover {
            color: darken($theme-color, 5%);
          }
        }
      }
      .tips {
        display: block;
        color: #666;
        line-height: 20px;
        margin-top: 8px;
        font-size: inherit;
        font-weight: normal;
      }
    }
  }
  .form-input {
    width: 28.4%;
    min-width: 300px;
    height: $form-element-height;
    line-height: calc(#{$form-element-height} - 2px);
    border: 1px solid #bfc7d4;
    border-radius: 2px;
    padding-right: 1em;
    padding-left: 1em;
    &:focus {
      border-color: $theme-color;
    }
  }
  .form-title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-top: 60px;
    margin-bottom: 20px;
    background: #f5f7fa;
    border-radius: 4px;
    padding-right: 20px;
    padding-left: 20px;
    color: #606266;
    font-size: 1.15em;
    .sub-title {
      font-size: .85em;
      margin-left: .5em;
    }
  }
  .submit {
    min-width: 6em;
    padding: .6em 1.6em;
    margin-top: 40px;
    margin-left: calc(#{$label-width} + 10px);
    border-radius: 5px;
    background-color: $theme-color;
    color: #fff;
    font-size: inherit;
    &.disabled {
      cursor: not-allowed;
      background-color: #eaeaea;
    }
    &:not(.disabled):hover {
      background-color: darken($theme-color, 5%);
    }
    &:not(.disabled):focus {
      background-color: darken($theme-color, 8%);
    }
  }
}

/*===消息中心===*/
.message-main-body {
  padding: 20px;
}
.message-main-body-header {
  height: $form-element-height;;
  line-height: $form-element-height;
  margin-bottom: 10px;
  @extend %clearfix;
  .tips {
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: #676c73;
    .unread-msg-count {
      font-size: 1.2em;
      font-weight: 500;
      color: #333;
      padding-right: .2em;
      padding-left: .2em;
    }
  }
  .handle {
    @extend %clearfix;
    float: right;
    button {
      float: left;
      height: 100%;
      line-height: inherit;
      padding: 0 1.5em;
      background-color: rgba(100, 153, 245, .2);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
      border-radius: 4px;
      color: #0557fa;
      font-size: 14px;
      &:hover {
        background-color: rgba(100, 153, 245, .4);
      }
      &:focus {
        background-color: rgba(100, 153, 245, .6);
      }
      &:not(:last-of-type) {
        margin-right: .7em;
      }
    }
  }
}
input[type=checkbox] {
  width: 0;
  height: 0;
  position: absolute;
  clip: rect(0,0,0,0);
  & + label {
    display: block;
    &::before {
      display: block;
      border: 1px solid #bcc2cc;
      width: 16px;
      height: 16px;
      font-size: 1.3em;
      color: #3b61de;
      border-radius: 2px;
      content: " ";
      vertical-align: middle;
      line-height: .8;
    }
  }
  &:checked {
    & + label {
      &::before {
        content: "\2714 ";
        color: $theme-color;
      }
    }
  }
}
.message-table {
  tbody {
    tr {
      &.read {
        color: #ccc;
      }
      &.unread {
        color: #6b7099;
      }
    }
  }
  tr {
    .message-check {
      padding-right: 10px;
      padding-left: 10px;
      width: calc(16px + 10px * 2);
    }
    .content {
      text-align: left;
    }
    @media (max-width: 1199px) {
      .status {
        width: 120px;
      }
      .time {
        width: 180px;
      }
      .handle {
        width: 120px;
      }
    }
    @media (min-width: 1200px) {
      .status {
        width: 150px;
      }
      .time {
        width: 210px;
      }
      .handle {
        width: 150px;
      }
    }
    @media (min-width: 1400px) {
      .status {
        width: 180px;
      }
      .time {
        width: 240px;
      }
      .handle {
        width: 180px;
      }
    }
    @media (min-width: 1600px) {
      .status {
        width: 210px;
      }
      .time {
        width: 270px;
      }
      .handle {
        width: 210px;
      }
    }
    @media (min-width: 1800px) {
      .status {
        width: 240px;
      }
      .time {
        width: 300px;
      }
      .handle {
        width: 240px;
      }
    }
  }
}

/*===商家联盟===*/
.union-main-body {
  padding: 20px;
}
.handle-condition {
  @extend %clearfix;
  color: #909399;
  font-size: 0;
  .condition-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: $form-element-height;
    line-height: $form-element-height;
    font-size: 14px;
    > label {
      display: block;
      float: left;
      margin-right: 10px;
    }
    select {
      display: block;
      float: left;
      padding-right: 15px;
      padding-left: 15px;
      height: $form-element-height;
      line-height: $form-element-height;
      border: 1px solid #dcdfe6;
      border-radius: 2px;
      &:focus {
        border-color: darken(#dcdfe6, 20%);
      }
      option {
        font-size: inherit;
        color: inherit;
        padding-right: 15px;
        padding-left: 15px;
      }
    }
    input {
      display: block;
      float: left;
      padding-right: 15px;
      padding-left: 15px;
      height: $form-element-height;
      line-height: $form-element-height;
      border: 1px solid #dcdfe6;
      border-radius: 2px;
      &:focus {
        border-color: darken(#dcdfe6, 20%);
      }
    }
  }
  .search {
    display: inline-block;
    vertical-align: middle;
    height: $form-element-height;
    line-height: $form-element-height;
    padding-right: 1.5em;
    padding-left: 1.5em;
    background-color: rgba(100, 153, 245, .2);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    border-radius: 4px;
    color: #0557fa;
    font-size: 14px;
    &:hover {
      background-color: rgba(100, 153, 245, .4);
    }
    &:focus {
      background-color: rgba(100, 153, 245, .6);
    }
  }
}
.union-main-body-header {
  @extend %clearfix;
  height: calc(#{$form-element-height} + 8px * 2);
  line-height: calc(#{$form-element-height} + 8px * 2);
  .sellers-tab {
    @extend %clearfix;
    float: left;
    height: 100%;
    line-height: inherit;
    li {
      float: left;
      display: block;
      padding-right: 8px;
      padding-left: 8px;
      height: 100%;
      line-height: inherit;
      font-size: 16px;
      color: #444;
      cursor: pointer;
      &:not(:last-of-type) {
        margin-right: 26px;
      }
      &.active {
        box-shadow: 0 2px 0 0 $theme-color;
      }
      &:hover {
        box-shadow: 0 2px 0 0 $theme-color;
      }
    }
  }
  .union-handle {
    @extend %clearfix;
    float: right;
    margin-top: 8px;
    button {
      float: left;
      display: none;
      height: $form-element-height;
      line-height: $form-element-height;
      padding-right: 1.5em;
      padding-left: 1.5em;
      margin-left: 15px;
      background-color: rgba(100, 153, 245, .2);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
      border-radius: 4px;
      color: #0557fa;
      font-size: 14px;
      &.active {
        display: block;
      }
      &:hover {
        background-color: rgba(100, 153, 245, .4);
      }
      &:focus {
        background-color: rgba(100, 153, 245, .6);
      }
    }
  }
}
.sellers-panel {
  section {
    display: none;
    &.active {
      display: table;
    }
    > .count {
      font-size: 16px;
      margin-bottom: 10px;
      padding-left: 10px;
      strong {
        font-weight: normal;
        margin-right: 5px;
        margin-left: 5px;
      }
    }
  }
  table {
    .name {
      text-align: left;
    }
    tbody {
      td {
        .hide {
          display: none;
        }
      }
      .deal {
        color: $theme-color;
      }
    }
    tr {
      .sellers-check,
      .leagued-check,
      .unleashed-check {
        padding-right: 10px;
        padding-left: 10px;
        width: calc(16px + 10px * 2);
      }
      .name,
      .address {
        width: 40%;
      }
      .trade,
      .area {
        width: 30%;
      }
      @media (max-width: 1199px) {
        .status {
          width: 90px;
        }
        .time {
          width: 120px;
        }
        .handle {
          width: 100px;
        }
        .deal {
          width: 110px;
        }
      }
      @media (min-width: 1200px) {
        .status {
          width: 100px;
        }
        .time {
          width: 130px;
        }
        .handle {
          width: 110px;
        }
        .deal {
          width: 120px;
        }
      }
      @media (min-width: 1400px) {
        .status {
          width: 110px;
        }
        .time {
          width: 140px;
        }
        .handle {
          width: 120px;
        }
        .deal {
          width: 130px;
        }
      }
      @media (min-width: 1600px) {
        .status {
          width: 120px;
        }
        .time {
          width: 150px;
        }
        .handle {
          width: 130px;
        }
        .deal {
          width: 140px;
        }
      }
      @media (min-width: 1800px) {
        .status {
          width: 130px;
        }
        .time {
          width: 160px;
        }
        .handle {
          width: 140px;
        }
        .deal {
          width: 150px;
        }
      }
    }
  }
}

/*===运营管理===*/
.operate-main-body {
  padding: 30px 40px;
  font-size: 14px;
  .form-item {
    @extend %clearfix;
    height: $form-element-height;
    line-height: $form-element-height;
    padding-left: 20px;
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
    label {
      display: block;
      float: left;
      margin-right: 10px;
      height: inherit;
      line-height: inherit;
      font-size: inherit;
      font-weight: normal;
      color: $text-color;
    }
    span {
      display: block;
      float: left;
      color: #333;
    }
    .form-input {
      float: left;
      width: 28.4%;
      min-width: 300px;
      height: $form-element-height;
      line-height: calc(#{$form-element-height} - 2px);
      border: 1px solid #bfc7d4;
      border-radius: 2px;
      padding-right: 1em;
      padding-left: 1em;
      margin-right: 10px;
      &:focus {
        border-color: $theme-color;
      }
    }
  }
  .basic {
    .form-item {
      label {
        width: 9em;
      }
    }
  }
  .profit {
    .section {
      @extend %clearfix;
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }
    .form-item {
      float: left;
      margin-bottom: 0;
      &:not(:last-of-type) {
        margin-right: 50px;
      }
      @media (max-width: 999px) {
        float: none;
        &:nth-of-type(even) {
          margin-top: 10px;
        }
      }
      label {
        width: 6em;
      }
      &:nth-of-type(even) {
        label {
          width: 4em;
          @media (max-width: 999px) {
            width: 6em;
          }
        }
      }
      .form-input {
        min-width: 180px;
      }
    }
  }
  .proportion {
    .form-item {
      label {
        width: 8em;
      }
    }
  }
  fieldset {
    border: none;
    margin: 0;
    padding: 0;
    &:not(:last-of-type) {
      margin-bottom: 40px;
    }
    legend {
      width: 100%;
      height: 40px;
      line-height: 40px;
      background: #f5f7fa;
      border: none;
      border-radius: 4px;
      padding-right: 20px;
      padding-left: 20px;
      color: #606266;
      font-size: 1.15em;
    }
    .add {
      color: #496eae;
      border: 1px solid currentColor;
      border-radius: 2px;
      margin-top: 30px;
      &.disabled {
        cursor: not-allowed;
        background-color: #eaeaea;
        color: #fff;
        border-color: transparent;
      }
      &:not(.disabled):hover {
        background-color: darken($theme-color, 5%);
        color: #fff;
      }
      &:not(.disabled):focus {
        background-color: darken($theme-color, 8%);
        color: #fff;
      }
    }
  }
  button {
    min-width: 6em;
    padding: .6em 1.6em;
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 5px;
    font-size: inherit;
  }
  .submit {
    background-color: $theme-color;
    color: #fff;
    &.disabled {
      cursor: not-allowed;
      background-color: #eaeaea;
    }
    &:not(.disabled):hover {
      background-color: darken($theme-color, 5%);
    }
    &:not(.disabled):focus {
      background-color: darken($theme-color, 8%);
    }
  }
}

/*===我的店铺===*/
.shop-main-body {
  $padding-left: 20px;
  padding: 30px 40px;
  font-size: 14px;
  .form-item {
    @extend %clearfix;
    height: $form-element-height;
    line-height: $form-element-height;
    padding-left: $padding-left;
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
    label {
      display: block;
      float: left;
      margin-right: 10px;
      height: inherit;
      line-height: inherit;
      font-size: inherit;
      font-weight: normal;
      color: $text-color;
      text-align: right;
    }
    .form-input {
      float: left;
      width: 28.4%;
      min-width: 300px;
      height: $form-element-height;
      line-height: calc(#{$form-element-height} - 2px);
      border: 1px solid #bfc7d4;
      border-radius: 2px;
      padding-right: 1em;
      padding-left: 1em;
      margin-right: 10px;
      color: #333;
      font-weight: 600;
      &:focus {
        border-color: $theme-color;
      }
    }
    span {
      display: block;
      float: left;
      color: #333;
      font-weight: 600;
    }
    .select {
      @extend %clearfix;
      float: left;
      margin-right: 10px;
      height: inherit;
      line-height: inherit;
    }
    select {
      float: left;
      display: block;
      height: inherit;
      line-height: inherit;
      padding-right: 1em;
      padding-left: 1em;
      border: 1px solid #bfc7d4;
      font-size: inherit;
      font-weight: normal;
      color: $text-color;
      text-align: right;
      &:not(:last-of-type) {
        margin-right: 10px;
      }
      option {
        color: inherit;
      }
    }
    @media (max-width: 1200px) {
      height: auto;
      .select {
        height: $form-element-height;
        line-height: $form-element-height;
        & + input {
          float: none;
          margin-top: 10px;
          margin-left: calc(5em + 10px);
        }
      }
    }
  }
  .personal-info {
    &:not(:last-of-type) {
      margin-bottom: 30px;
    }
    .form-item {
      margin-bottom: 8px;
      label {
        width: 5em;
      }
    }
  }
  .shop-info {
    .form-item {
      label {
        width: 5em;
      }
    }
  }
  .business-info {
    .form-item {
      label {
        width: 6em;
      }
    }
  }
  fieldset {
    border: none;
    margin: 0;
    padding: 0;
    &:not(:last-of-type) {
      margin-bottom: 40px;
    }
    legend {
      width: 100%;
      height: 40px;
      line-height: 40px;
      background: #f5f7fa;
      border: none;
      border-radius: 4px;
      padding-right: $padding-left;
      padding-left: $padding-left;
      color: #606266;
      font-size: 1.15em;
    }
  }
  .form-footer {
    @extend %clearfix;
    margin-top: 30px;
    margin-left: calc(#{$padding-left} + 6em + 10px);
    button {
      float: left;
      min-width: 8em;
      padding: .6em 1.6em;
      border-radius: 2px;
      font-size: inherit;
      &:not(:last-of-type) {
        margin-right: 10px;
      }
      &.submit {
        color: #fff;
        &.disabled {
          cursor: not-allowed;
          border: 1px solid #eaeaea;
          background-color: #eaeaea;
        }
        &:not(.disabled) {
          background-image: linear-gradient(270deg, rgba(50, 66, 250, 1) 0%, rgba(49, 121, 245, 1) 100%);
          box-shadow: 0 2px 2px 0 rgba(49, 121, 245, .4);
        }
        &:not(.disabled):hover {
          background-color: darken($theme-color, 5%);
        }
        &:not(.disabled):focus {
          background-color: darken($theme-color, 8%);
        }
      }
      &.cancel {
        color: #6e727a;
        border: 1px solid #ced5e0;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
        &:hover {
          color: darken(#6e727a, 5%);
        }
        &:focus {
          color: darken(#6e727a, 8%);
        }
      }
    }
  }
}

/*===系统提醒===*/
.remind-main-body {
  padding: 20px;
}
.remind-main-body-header {
  height: $form-element-height;
  line-height: $form-element-height;
  margin-bottom: 10px;
  @extend %clearfix;
  .tips {
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: #676c73;
    .remind-count {
      font-size: 1.2em;
      font-weight: 500;
      color: #333;
      padding-right: .2em;
      padding-left: .2em;
    }
  }
  .handle {
    @extend %clearfix;
    float: right;
    button {
      float: left;
      min-width: 7em;
      height: 100%;
      line-height: inherit;
      padding: 0 1.5em;
      background-color: $theme-color;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
      border-radius: 4px;
      color: #fff;
      font-size: 14px;
      &:hover {
        background-color: darken($theme-color, 5%);
      }
      &:focus {
        background-color: darken($theme-color, 8%);
      }
      &:not(:last-of-type) {
        margin-right: .7em;
      }
    }
  }
}
.remind-table {
  tr {
    td {
      &:first-of-type {
        border-right: 1px solid #ebeef5;
      }
    }
    @media (max-width: 1199px) {
      .type {
        width: 120px;
      }
      .handle {
        width: 120px;
      }
    }
    @media (min-width: 1200px) {
      .type {
        width: 150px;
      }
      .handle {
        width: 150px;
      }
    }
    @media (min-width: 1400px) {
      .type {
        width: 180px;
      }
      .handle {
        width: 180px;
      }
    }
    @media (min-width: 1600px) {
      .type {
        width: 210px;
      }
      .handle {
        width: 210px;
      }
    }
    @media (min-width: 1800px) {
      .type {
        width: 210px;
      }
      .handle {
        width: 210px;
      }
    }
  }
}

/*新增系统提醒*/
.add-remind-modal-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  min-height: 300px;
  max-height: 600px;
  padding: 6px 20px 40px;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .2), 0 8px 8px 0 rgba(0, 0, 0, .2);
  border-radius: 2px;
  .modal-header {
    border-bottom-color: #e9eaeb;
    padding: 12px 0;
    .modal-title {
      font-size: 14px;
      font-weight: 500;
      color: $text-color + #111;
    }
  }
  .modal-body {
    flex: 1;
    padding: 30px 44px;
    $label-width: 5em;
    font-size: 14px;
    overflow-y: auto;
    .form-item {
      @extend %clearfix;
      line-height: $form-element-height;
      width: 100%;
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
      label {
        display: block;
        float: left;
        margin-right: 10px;
        width: $label-width;
        height: inherit;
        line-height: inherit;
        font-size: inherit;
        text-align: right;
        color: $text-color;
      }
      .form-input {
        display: block;
        float: left;
        min-width: 300px;
        height: $form-element-height;
        line-height: calc(#{$form-element-height} - 2px);
        border: 1px solid #bfc7d4;
        border-radius: 2px;
        padding-right: 1em;
        padding-left: 1em;
        &:focus {
          border-color: $theme-color;
        }
      }
      select {
        display: block;
        float: left;
        min-width: 300px;
        height: $form-element-height;
        line-height: calc(#{$form-element-height} - 2px);
        border: 1px solid #bfc7d4;
        border-radius: 2px;
        padding-right: 1em;
        padding-left: 1em;
        &:focus {
          border-color: $theme-color;
        }
        option {

        }
      }
      textarea {
        display: block;
        float: left;
        width: calc(100% - 5em - 10px);
        line-height: 1.6em;
        min-height: calc(1em + 2px + 1.6em * 4);
        max-height: calc(1em + 2px + 1.6em * 5);
        border: 1px solid #bfc7d4;
        border-radius: 2px;
        padding: .5em 1em;
        resize: vertical;
        &:focus {
          border-color: $theme-color;
        }
      }
    }
  }
  .modal-footer {
    @extend %clearfix;
    margin-left: calc(44px + 5em + 10px);
    padding: 0;
    text-align: left;
    border-top: none;
    font-size: 14px;
    button {
      float: left;
      min-width: 8em;
      padding: .6em 1.6em;
      border-radius: 2px;
      font-size: inherit;
      &:not(:last-of-type) {
        margin-right: 10px;
      }
      &.submit {
        color: #fff;
        &.disabled {
          cursor: not-allowed;
          border: 1px solid #eaeaea;
          background-color: #eaeaea;
        }
        &:not(.disabled) {
          background-color: #3179f5;
          box-shadow: 0 2px 2px 0 rgba(49,121,245,0.4);
          border-radius: 2px;
        }
        &:not(.disabled):hover {
          background-color: darken(#3179f5, 5%);
        }
        &:not(.disabled):focus {
          background-color: darken(#3179f5, 8%);
        }
      }
      &.cancel {
        color: #6e727a;
        border: 1px solid #ced5e0;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
        &:hover {
          color: darken(#6e727a, 5%);
        }
        &:focus {
          color: darken(#6e727a, 8%);
        }
      }
    }
  }
}

/*===角色权限===*/
.role-main-body {
  padding: 20px;
}
.role-main-body-header {
  height: $form-element-height;
  line-height: $form-element-height;
  margin-bottom: 10px;
  @extend %clearfix;
  .tips {
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: #676c73;
    .role-count {
      font-size: 1.2em;
      font-weight: 500;
      color: #333;
      padding-right: .2em;
      padding-left: .2em;
    }
  }
  .handle {
    @extend %clearfix;
    float: right;
    button {
      float: left;
      min-width: 7em;
      height: 100%;
      line-height: inherit;
      padding: 0 1.5em;
      background-color: $theme-color;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
      border-radius: 4px;
      color: #fff;
      font-size: 14px;
      &:hover {
        background-color: darken($theme-color, 5%);
      }
      &:focus {
        background-color: darken($theme-color, 8%);
      }
      &:not(:last-of-type) {
        margin-right: .7em;
      }
    }
  }
}
.role-table {
  tr {
    td {
      &:first-of-type {
        border-right: 1px solid #ebeef5;
      }
    }
    @media (max-width: 1199px) {
      .status {
        width: 70px;
      }
      .phone {
        width: 140px;
      }
      .handle {
        width: 120px;
      }
    }
    @media (min-width: 1200px) {
      .status {
        width: 80px;
      }
      .phone {
        width: 150px;
      }
      .handle {
        width: 130px;
      }
    }
    @media (min-width: 1400px) {
      .status {
        width: 90px;
      }
      .phone {
        width: 160px;
      }
      .handle {
        width: 140px;
      }
    }
    @media (min-width: 1600px) {
      .status {
        width: 100px;
      }
      .phone {
        width: 170px;
      }
      .handle {
        width: 150px;
      }
    }
    @media (min-width: 1800px) {
      .status {
        width: 110px;
      }
      .phone {
        width: 180px;
      }
      .handle {
        width: 160px;
      }
    }
  }
}

/*新增加色权限*/
.add-role-modal-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  min-height: 300px;
  max-height: 600px;
  padding: 6px 20px 40px;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .2), 0 8px 8px 0 rgba(0, 0, 0, .2);
  border-radius: 2px;
  .modal-header {
    border-bottom-color: #e9eaeb;
    padding: 12px 0;
    .modal-title {
      font-size: 14px;
      font-weight: 500;
      color: $text-color + #111;
    }
  }
  .modal-body {
    flex: 1;
    padding: 30px 20px;
    $label-width: 5em;
    font-size: 14px;
    overflow-y: auto;
    .form-item {
      @extend %clearfix;
      float: left;
      width: calc(50% - 20px);
      line-height: $form-element-height;
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
      &:nth-of-type(2n + 1) {
        label {
          width: 3em;
        }
        input,
        textarea,
        select {
          width: calc(100% - 3em - 10px)
        }
      }
      &:nth-of-type(2n + 2) {
        margin-left: 40px;
        label {
          width: 5em;
        }
        input,
        textarea,
        select {
          width: calc(100% - 5em - 10px)
        }
      }
      &:nth-of-type(2n + 1):last-of-type {
        width: 100%;
      }
      label {
        display: block;
        float: left;
        margin-right: 10px;
        height: inherit;
        line-height: inherit;
        font-size: inherit;
        text-align: right;
        color: $text-color;
      }
      .form-input {
        display: block;
        float: left;
        height: $form-element-height;
        line-height: calc(#{$form-element-height} - 2px);
        border: 1px solid #bfc7d4;
        border-radius: 2px;
        padding-right: 1em;
        padding-left: 1em;
        &:focus {
          border-color: $theme-color;
        }
      }
      select {
        display: block;
        float: left;
        height: $form-element-height;
        line-height: calc(#{$form-element-height} - 2px);
        border: 1px solid #bfc7d4;
        border-radius: 2px;
        padding-right: 1em;
        padding-left: 1em;
        &:focus {
          border-color: $theme-color;
        }
        option {

        }
      }
      textarea {
        display: block;
        float: left;
        line-height: 1.6em;
        min-height: calc(1em + 2px + 1.6em * 4);
        max-height: calc(1em + 2px + 1.6em * 5);
        border: 1px solid #bfc7d4;
        border-radius: 2px;
        padding: .5em 1em;
        resize: vertical;
        &:focus {
          border-color: $theme-color;
        }
      }
    }
  }
  .modal-footer {
    @extend %clearfix;
    margin-left: calc(20px + 3em + 10px);
    padding: 0;
    text-align: left;
    border-top: none;
    font-size: 14px;
    button {
      float: left;
      min-width: 8em;
      padding: .6em 1.6em;
      border-radius: 2px;
      font-size: inherit;
      &:not(:last-of-type) {
        margin-right: 10px;
      }
      &.submit {
        color: #fff;
        &.disabled {
          cursor: not-allowed;
          border: 1px solid #eaeaea;
          background-color: #eaeaea;
        }
        &:not(.disabled) {
          background-color: #3179f5;
          box-shadow: 0 2px 2px 0 rgba(49,121,245,0.4);
          border-radius: 2px;
        }
        &:not(.disabled):hover {
          background-color: darken(#3179f5, 5%);
        }
        &:not(.disabled):focus {
          background-color: darken(#3179f5, 8%);
        }
      }
      &.cancel {
        color: #6e727a;
        border: 1px solid #ced5e0;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
        &:hover {
          color: darken(#6e727a, 5%);
        }
        &:focus {
          color: darken(#6e727a, 8%);
        }
      }
    }
  }
}

/*===操作日志===*/
.log-main-body {
  padding: 20px;
}
.daterangepicker {
  select {
    border: 1px solid #dcdfe6;
  }
  th {
    select {
      display: inline-block;
      vertical-align: middle;
    }
  }
  td {
    &.active,
    &.active:hover,
    &:hover {
      background-color: $theme-color;
    }
  }
}
.log-table {
  tr {
    td {
      &:first-of-type {
        border-right: 1px solid #ebeef5;
      }
    }
  }
  .operator {
    width: 20%;
  }
  .shop {
    width: 30%;
  }
  .log {
    width: 40%;
  }
  @media (max-width: 1199px) {
    .account {
      width: 120px;
    }
    .ip {
      width: 130px;
    }
    .time {
      width: 110px;
    }
  }
  @media (min-width: 1200px) {
    .account {
      width: 130px;
    }
    .ip {
      width: 150px;
    }
    .time {
      width: 120px;
    }
  }
  @media (min-width: 1400px) {
    .account {
      width: 140px;
    }
    .ip {
      width: 160px;
    }
    .time {
      width: 130px;
    }
  }
  @media (min-width: 1600px) {
    .account {
      width: 150px;
    }
    .ip {
      width: 170px;
    }
    .time {
      width: 140px;
    }
  }
  @media (min-width: 1800px) {
    .account {
      width: 160px;
    }
    .ip {
      width: 180px;
    }
    .time {
      width: 150px;
    }
  }
}